header {
    background-color: red;
    padding: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

#topo {
    color: white;
}

#destaque {
    background-color: orange;
    padding: 10px;
}

#promoção {
    background-color: gray;
    padding: 10px;
}

.produtos {
    background-color: lightgray;
    padding: 10px;
}